{% extends 'base.html' %}
{% load static %}
{% block function %}
<a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>LOG OUT</a>
{% endblock %}

{% block content %}





</div>

<div class="container-table100">
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <thead>
                    <tr class="table100-head">
                        <th>Image</th>
                        <th>Text</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="column1"><img src="/media/documents/test.jpg" alt="Uploaded Image" style="height:600px"></th>
                        <td class="column2">
                            <pre>{{ text }}</pre>
                            </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}