{% load static %}

<!DOCTYPE html>
<html>
<!--sudo lsof -t -i tcp:8000 | xargs kill -9-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--===============================================================================================-->
    <title>Login</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="{% static 'pd/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pd/css/fileup.css' %}">
    <link rel="stylesheet" href="{% static 'pd/css/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pd/css/text.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pd/css/login.css' %}">

    <!--===============================================================================================-->

</head>

<body>

    <!-- Header Starts-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.panasonic.com/in/"><img src="{% static 'pd/images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 pl-3 company">
                <li class="nav-item active">
                    <a class="nav-link" href="#">DIGI QUOTE PRO</a>
                </li>
            </ul>

            <div class="d-inline pl-3">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</span></a>
                    </li>
                    <li class="nav-item">

                        {% block function%}
                        {% endblock %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Ends-->

    {% block content %}
    {% endblock %}

</body>

<footer>

    <!--===============================================================================================-->
    <script src="{% static 'pd/js/main.js' %}"></script>
    <script src="{% static 'pd/js/login.js' %}"></script>
    <script src="{% static 'pd/js/fileup.js' %}"></script>
</footer>

</html>